/* 1024px */
@media(min-width: 768px) and (max-width:1024px)
{
    #bloc_page
    {
        max-width: 1024px;
        height: auto;
    }
    #main
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    #hebergements
    {
        width: 100%;
        margin-bottom: 10px;
    }
    .populaires
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0;
    }
    #bas
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    
    
}

/* Tablette */
@media(min-width: 426px) and (max-width: 768px)
{   
    /* HOVER */
    nav ul .accomodations_btn a:hover, .activities_btn a:hover, .signin a:hover
    {
        border-top: none;
        padding-top: 0px;
    }

    header .filtres .fas:hover
    {
        font-size: 1em;
    }

    #main #hebergements .img_card:hover, .img_card1:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .img_card2:hover, .img_card3 .picture5:hover
    {
        box-shadow: none;
        transition: none;
    }

    .img_card3 .picture6:hover, .picture8:hover
    {
        box-shadow: none;
        transition: none;
    }

    #main .populaires .img_card1:hover
    {
        box-shadow:none;
        transition: none;
    }
    /* GENERAL */
    #main
    {   
        flex-direction: column-reverse;
    }

    #bloc_page
    {
        max-width: 768px;
        height: auto;
    }

    /*BARRE DE RECHERCHE */
    .searchbar
    {
        display: flex;
        align-content: space-around;
    }

    .searchbar .fas
    {
        border-radius: 45px 0 0 45px;
        font-size: 1em;
        background: #F2F2F2;
        overflow: hidden;
        text-align: center;
        height: 15px;
    }

    input
    {
        height: 46px;
        font-weight: bold;
        font-size: 1.2em;
        color: #000;
        text-align: justify;
        border: 1px solid #F2F2F2;
    }
    
    .searchbar-text
    {
        display:none;
        border: 0px solid;
        border-radius: 0 25px 25px 0;
        height: 15px;
        background: #3D00FF;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 0.5em;
    }

    .magnifying_glass 
    {
        display:block;
    }

    .magnifying_glass .fas
    {
        background:#0065FC ;
        border-radius: 10px 10px;
        padding-bottom: 30px;
        color: #fff;
        font-size: 1em;
        height: 0.7px;
    }

    /*FILTRES*/

    .filtres ul li 
    {
        margin-bottom: 10px;
    }
    /* HEBERGEMENTS */
    #hebergements
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    #hebergements img
    {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    .titre_hebergements_a_marseille
    {
        padding: 20px;
        margin-left: 40px;
    }


    #main #hebergements .img_card {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .afficher_plus
    {
        padding: 20px;
        text-align: right;
    }

    /* POPULAIRES */
    .populaires
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .populaires img 
    {
        object-fit: cover;
        object-position: center;
    }

    /* ACTIVITES */
    .activites_marseille
    {
        margin-left: 30px;
        padding-bottom: 10px;
    }
    #activites
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #activites .img_card2
    {
        width: 75%;
        height: auto;
        margin-bottom: 10px;
    }

    #activites .img_card3
    {
        width: 75%;
        height: auto;
        margin-bottom: 10px;

    }

    
    #activites img
    {
        height: 98%;
        width: auto;
        object-fit: cover;
        object-position: center;
    }

    #activites .img_card2 .texte2
    {
        height: auto;
        width: auto;
        padding-bottom: 20px;

    }


    #activites .img_card3 .texte2
    {
        height: auto;
        width: auto;
    }

    #activites .description
    {
        font-size: 0.9em;
        text-align: left;
    }

    

    /* FOOTER */
    #bas
    {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    footer ul li 
    {
        font-size: 0.9em;
    }

    footer ul 
    {
        padding-right: 30%;
    }
}



/* Smartphone */

@media(max-width: 425px)
{   
/* Hover */
    nav ul .accomodations_btn a:hover, .activities_btn a:hover,.signin a:hover
    {
        border-top: none;
        padding-top: 0px;
    }

    #main #hebergements .img_card:hover, .hotels1:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .img_card2:hover, .img_card3 .picture5:hover
    {
        box-shadow: none;
        transition: none;
    }

    .img_card3 .picture6:hover, .picture8:hover
    {
        box-shadow: none;
        transition: none;
    }

    #main .populaires .img_card1:hover
    {
        box-shadow: none;
        transition: none;
    }

/* General */
    #bloc_page
    {
        height: auto;
        width: auto;
        padding: 0px;
    }


/* Nav */
    .signin
    {
        position: relative;
        top: 5px;
        padding-right: 0;
    }

    nav ul .accomodations_btn
    {
        position: absolute;
        display: flex;
        top: 110px;
        left: 10px;
        align-content: center;
        justify-content:center;
        border-bottom: 3px solid #3D00FF;
        padding-bottom:5px;

    }

    nav ul .accomodations_btn a:hover
    {
        border-top: none;
        padding-top: 0;
    }
    
    nav ul .activities_btn
    {
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 110px;
        left: 235px;
        align-content: center;
        justify-content:center;
        border-bottom:1px solid black;
        padding-bottom:5px;
        padding-right: 0;
        border-right: 0;
    }

    nav ul .activities_btn a:hover
    {
        border-top: none;
        padding-top: 0;
    }
/* Header */

    header .filtres .fas:hover
    {
        font-size: 1em;
    }
    header h1
    {
        font-size: 1.3em;
        padding-top:65px;
    }
    header p 
    {
        font-size: 1em;
        padding-bottom: 40px;
    }


    .searchbar
    {
        display: flex;
        align-content: space-around;
    }

    .searchbar .fas
    {
        border-radius: 45px 0 0 45px;
        font-size: 1em;
        background: #F2F2F2;
        overflow: hidden;
        text-align: center;
        height: 15px;
    }

    input
    {
        height: 46px;
        font-weight: bold;
        font-size: 1.2em;
        color: #000;
        text-align: justify;
        border: 1px solid #F2F2F2;
    }
    
    .searchbar-text
    {
        display:none;
        border: 0px solid;
        border-radius: 0 25px 25px 0;
        height: 15px;
        background: #3D00FF;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 0.5em;
    }
    .magnifying_glass 
    {
        display:block;
    }

    .magnifying_glass .fas
    {
        background:#0065FC ;
        border-radius: 10px 10px;
        padding-bottom: 30px;
        color: #fff;
        font-size: 1em;
        height: 0.7px;
    }

    .filtre1
    {  
        border: 1px solid #D8D8D8;
        padding:10px 10px 10px 0;
        border-radius: 45px 45px;

    }

    .filtres ul li 
    {
        font-size: 1.1em;
        text-align: center;
        padding: 8px;
    }

    .filtres a 
    {
        border-left: 0;
    }

    .filtres .fas
    {
        border: 0px solid;
        border-radius: 45px 45px;
        padding: 14px 14px;
        background-color: #DBE7FF;
        color: #0065FC;
        font-size: 1em;
    }

    #main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

/* Populaires */
    

    .populaires
    {
        width: auto;
        height: 100%;
        display: flex;   
        flex-direction: column;
        margin: 0px -10px;
        padding: 0;
        border-radius: 0 0;
        margin-bottom: 20px;
        background: #F2F2F2;
    }

    .populaires .img_card1
    {
        width: auto;
        height: 100%;
    }

    .populaires h2
    {
        margin-left: 0px;
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
    }

    .populaires h2 .fas 
    {
        margin-left: 65px;
    }

/* Hebergements */

    #hebergements .titre_hebergements_a_marseille
    {
        padding: 20px 0px;
        margin-left: 30px;
        margin-right: 0px;
    }
    #hebergements
    {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 20px;
        border: 0px #F2F2F2 solid;
        background: none;
    }

    #main #hebergements .img_card
    {
        width: 92%;
        height: 210px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        padding: 0;
    }

    #main #hebergements .picture 
    {
        width: 100%;
        height: 50%;
        margin-bottom: 0;
    }

    #main #hebergements .picture img 
    {
        height: 90%;
        object-fit: cover;
        object-position: 100% 100%;
    }

    #main #hebergements .texte1
    {
        height: 20%;
    }

    #main #hebergements .texte1 .nom_de_lhotel
    {
        padding-bottom: 50px;
    }

    #main #hebergements .afficher_plus
    {
        padding:30px 0px;
        margin-left: 30px;
    }

/* Activites */
.activites_marseille
{
    margin-left: 20px;
}
    #activites
    {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        height: 1500px;
    }

    #activites .img_card2
    {
        width: 90%;
        height: 200px;
        display: flex;
        margin-bottom: 5px;

        flex-direction: column;
    }
    #activites .img_card3
    {
        width: 90%;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    #activites .img_card3 a 
    {
        width: 100%;
    }

    #activites .img_card2 a 
    {
        width: 100%;
    }

    #activites .img_card2 img 
    {
        object-fit: cover;
        object-position: 50% 50%;
        width: auto;
        height: 100%;
    }

    #activites .img_card3 img 
    {
        object-fit:cover;
        object-position: 0% 50%;
        width: 100%;
        height: 95%;
    }

    #activites .img_card2 .pciture10
    {
        width: 100%;
        height: 150px;
        border-bottom: 5px;
    }

    #activites .img_card3 .picture5
    {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;
    }

    #activites .img_card3 .picture6
    {
        width: 100%;
        height: 200px;
    }

    #activites .img_card3 .picture8
    {
        width: 100%;
        height: 200px;
    }

    #activites .img_card3 .picture5
    {
        width: 100%;
        height: 200px;
    }

    #activites .img_card2 .picture2
    {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }
    
    #activites .img_card3 .picture3
    {
        width: 100%;
        height: 10px;
        object-fit: cover;
        object-position: 100% 100%;
    }

    #activites .img_card3 .picture5 .texte2
    {
        width: 100%;
        height: 35%;
    }

    #activites .img_card3 .picture7
    {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    #activites .img_card3 .picture9
    {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
   
    #activites .img_card2 .texte2 .description
    {
        width:100%;
        height: 25%;
        font-size: 0.9em;
    }

    #activites .img_card3 .texte2 .description
    {
        width:100%;
        height: 25%;
        font-size: 0.9em;
    }

/* Footer */
    #bas
    {
        display: flex;
        flex-direction: column;
        margin-left: -20px;
    }

    #bas ul 
    {   display: flex;
        flex-direction: column;
    }

    #bas ul li
    {
       font-size: 0.6em;
    }

    #bas h2 
    {
        font-size: 0.8em;
        line-height: 5px;
    }
}

@media(min-width: 320px) and (max-width: 375px){
    
        #bloc_page
        {
            height: auto;
            max-width: 375px;
            margin: 10px;
        }

        .populaires{
            width: 375px;
            padding-right: 20px;
        }

        #hebergements, #activites
        {
            width: 375px;
        }

        footer
        {
            min-width: 320px;
            padding-right: 50px;
        }


    
}
