/* Tablette */
@media(min-width: 768px) and (max-width: 1388px)
{
    nav ul li 
    {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    .filtres ul li 
    {
        display: flex;
        padding-top: 20px;
    }

    .filtres
    {
        border: 10px;
    }

    #main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #bloc_page
    {
        width: auto;
        height: auto;
        margin: 20px 20px;
    }

    #hebergements
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .titre_hebergements_a_marseille
    {
        padding: 30px;
        text-align: center;
    }

    .afficher_plus
    {
        padding: 20px;
        text-align: right;
    }

    .hotels
    {
        width: 100%;
        height: auto;
    }

    .populaires
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        box-sizing: border-box;
        margin-left: 0;
    }

    #activites
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    
    #activites img
    {
        height: 100%;
        width: 100%;
    }

    #activites .texte2
    {
        height: auto;
        width: auto;
    }

    #activites .description
    {
        font-size: 0.9em;
        text-align: left;
        padding: auto;
    }

    #bas
    {
        height: 100%;
        width: 100%;
    }

    footer ul li 
    {
        font-size: 0.9em;
    }

    footer ul 
    {
        padding-right: 30%;
    }

   
    
}



/* Smartphone */

@media(max-width: 767px)
{   
 
    *
    {
        padding-left: 0;
    }
    #bloc_page
    {
        max-width: 100%;
        height: auto;
    }

    nav ul 
    
    .signin
    {
        position: relative;
        top: 15px;
        right: 0px;
    }

    .hebergements_activites
    {
        position: absolute;
        display: flex;
        top: 110px;
        left: 27px;
        align-content: center;
        justify-content:center;
    }
    
    nav ul .accomodations_btn
    {
        border: 3px solid black;
        font-weight: bold;
    }

    nav ul .activities_btn
    {
        border: 1px solid black;
    }
    header h1
    {
        font-size: 1.4em;
        padding-top:35px;
    }

    .searchbar
    {
        display: flex;
        justify-content: center;
    }

    .searchbar .fas
    {
    border-radius: 45px 0 0 45px;
    font-size: 0.7em;
    background: #F2F2F2;
    overflow: hidden;
    text-align: center;        
    }

    input
    {
    height: 45px;
    font-weight: bold;
    font-size: 1.1em;
    color: #000;
    text-align: justify;
    border: 1px solid #F2F2F2;
    }

    .searchbar-text
    {
    border: 1px solid #3D00FF;
    border-radius: 0 25px 25px 0;
    height: 11px;
    background: #3D00FF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 0.5em;
    }

    .filtres ul li 
    {
    list-style-type: none;
    display: flex;
    align-content: space-between;
    }

    .filtres ul
    {
    margin-left: 0 ;
    display: flex;
    flex-direction: column;
    }

    .filtre1
    {  
    border: 1px solid #D8D8D8;
    padding:10px 10px;
    border-radius: 45px 45px;

    }

    .filtres ul li 
    {
    font-size: 1.1em;
    text-align: center;
    padding: 8px;
    
    }

    .filtres a 
    {
    border-left: 0;
    };

    .filtres .fas
    {
    border: 1px solid #DBE7FF;
    border-radius: 45px 45px;
    padding: 13px 13px;
    background-color: #DBE7FF;
    color: #3D00FF;
    font-size: 0.5em;

}

    #main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        max-width: 767px;
        height: auto;
    }

    #hebergements
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around ;
        justify-content: space-around;
        margin-bottom: 20px;
        background: none;
    }

    #main #hebergements .hotels
    {
        
    }
    #main #hebergements .hotels
    {
        
    }

    .populaires
    {
        width: 100%;
        height: 100%;
        background: #F2F2F2;
        display: flex;   
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding-left: 0;
    }

    #activites
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        background-color: none;
        width: 100%;
        height: 1500px;
    }

    #activites .hotels2
    {
        width: 90%;
        height: 15%;
        display: flex;
        flex-direction: column;

    }
    #activites .hotels3
    {
        width: 90%;
        height: 20%;
        display: flex;
        flex-direction: column;


    }
    #activtes .picture2
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    #activtes .picture3
    {
        width: 90%;
        height: 15%;  
        padding-bottom: 5px;

    }
    #activtes .picture6
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    #activtes .picture8
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    #activtes .picture9
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    #activtes .picture5
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    #activtes .picture7
    {
        width: 90%;
        height: 15%;
        padding-bottom: 5px;

    }
    
    #activites .texte2
    {
        width:90%;
        height: 5%;
    }

    #bas
    {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
    }
  

  

    
}

