/* Tablette */
@media(min-width: 768px) and (max-width: 1388px)
{   

        nav ul .accomodations_btn a:hover
    {
        border-top: none;
        padding-top: none;
    }

    nav ul .activities_btn a:hover
    {
        border-top: none;
        padding-top: none;
    }

    nav ul .signin a:hover
    {
        border-top: none;
        padding-top: none;
    }

    header .filtres .fas:hover
    {
        font-size: 1em;
    }

    #main #hebergements .hotels:hover
    {
        box-shadow: none;
        transition: none;
    }

    #main #hebergements .hotels1:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .hotels2:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .hotels3 .picture5:hover
    {
        box-shadow: none;
        transition: none;
    }

    .hotels3 .picture6:hover
    {
        box-shadow: none;
        transition: none;
    }

    .hotels3 .picture8:hover
    {
        box-shadow:none;
        transition: none;
    }

    #main .populaires .hotels1:hover
    {
        box-shadow:none;
        transition: none;
    }
    nav ul li 
    {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
    
    .filtres ul li 
    {
        display: flex;
        padding-top: 20px;
    }

    .filtres
    {
        border: 10px;
    }

    #main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    #bloc_page
    {
        width: auto;
        height: auto;
        margin: 20px 20px;
    }

    #hebergements
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #hebergements img
    {
        object-fit: cover;
        object-position: center;
    }

    .titre_hebergements_a_marseille
    {
        padding: 30px;
        text-align: center;
    }

    .afficher_plus
    {
        padding: 20px;
        text-align: right;
    }

    .hotels
    {
        width: auto;
        height: 100px;
    }

    .populaires
    {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .populaires img 
    {
        object-fit: cover;
        object-position: center;
    }

    #activites
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    
    #activites img
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    #activites .texte2
    {
        height: auto;
        width: auto;
    }

    #activites .description
    {
        font-size: 0.9em;
        text-align: left;
        padding: auto;
    }

    #bas
    {
        height: 100%;
        width: 100%;
    }

    footer ul li 
    {
        font-size: 0.9em;
    }

    footer ul 
    {
        padding-right: 30%;
    }
}



/* Smartphone */

@media(max-width: 767px)
{   
    
    nav ul .accomodations_btn a:hover
    {
        border-top: none;
        padding-top: none;
    }

    nav ul .activities_btn a:hover
    {
        border-top: none;
        padding-top: none;
    }

    nav ul .signin a:hover
    {
        border-top: none;
        padding-top: none;
    }

    header .filtres .fas:hover
    {
        font-size: 1em;
    }

    #main #hebergements .hotels:hover
    {
        box-shadow: none;
        transition: none;
    }

    #main #hebergements .hotels1:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .hotels2:hover
    {
        box-shadow: none;
        transition: none;
    }

    #activites .hotels3 .picture5:hover
    {
        box-shadow: none;
        transition: none;
    }

    .hotels3 .picture6:hover
    {
        box-shadow: none;
        transition: none;
    }

    .hotels3 .picture8:hover
    {
        box-shadow:none;
        transition: none;
    }

    #main .populaires .hotels1:hover
    {
        box-shadow:none;
        transition: none;
    }


   
    #bloc_page
    {
        width: 100%;
        height: auto;
    }


    
    .signin
    {
        position: relative;
        top: 15px;
        right: -8px;
        padding-right: 0;
    }

    .hebergements_activites
    {
        position: absolute;
        display: flex;
        top: 110px;
        left: 30px;
        align-content: center;
        justify-content:center;
    }
    
    nav ul .accomodations_btn
    {
        border-bottom: 3px solid #3D00FF;
        padding-bottom:5px;
        padding-right: 0;
        border-right: 0;;
    }

    nav ul .activities_btn
    {
        border-bottom:1px solid black;
        padding-bottom:5px;
        padding-right: -10px;


    }
    header h1
    {
        font-size: 1.3em;
        padding-top:65px;
    }
    header p 
    {
        font-size: 1em;
        padding-bottom: 40px;
    }
    .searchbar
    {
        display: flex;
        align-content: space-around;
    }

    .searchbar .fas
    {
    border-radius: 45px 0 0 45px;
    font-size: 1em;
    background: #F2F2F2;
    overflow: hidden;
    text-align: center;
    padding-bottom: -15px;
    height: 15px;
    }

    input
    {
    height: 46px;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    text-align: justify;
    border: 1px solid #F2F2F2;
    }
    
    .searchbar-text
    {
    display:none;
    border: 1px solid #3D00FF;
    border-radius: 0 25px 25px 0;
    height: 15px;
    background: #3D00FF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 0.5em;
    }
    .magnifying_glass 
    {
        display:block;
    }

    .magnifying_glass .fas
    {
        background:#3D00FF ;
        border-radius: 10px 10px;
        padding-bottom: 30px;
        text-decoration-color: #fff;
        font-size: 1em;
        height: 0.7px;
    }



    .filtres ul li 
    {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    }

    .filtres ul span li 
    {
        display: flex;
        flex-direction: row;
    }

    .filtres ul
    {
    margin-left: 0 ;
    display: flex;
    flex-direction: column;
    }

    .filtre1
    {  
    border: 1px solid #D8D8D8;
    padding:10px 10px 10px 0;
    border-radius: 45px 45px;

    }

    .filtres ul li 
    {
    font-size: 1.1em;
    text-align: center;
    padding: 8px;
    }

    .filtres a 
    {
    border-left: 0;
    };

    .filtres .fas
    {
    border: 1px solid #DBE7FF;
    border-radius: 45px 45px;
    padding: 13px 13px;
    background-color: #DBE7FF;
    color: #3D00FF;
    font-size: 0.5em;
    }

    #main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        
    }

    #main .populaires .hotels1 
    {
        width: 100%;

    }
    .populaires
    {
        width: 100%;
        height: 100%;
        display: flex;   
        flex-direction: column;
        background-size:auto;
        margin: -30px;
        padding-right: 60px;
        border-radius: 0 0;
        margin-bottom: 20px;
    }

    #hebergements
    {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 20px;
        border: 0px #F2F2F2 solid;
        background: none;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #main #hebergements .hotels
    {
        width: 100%;
        height: 200px;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }

    #main #hebergements .picture 
    {
        width: 100%;
        height: 50%;
        margin-bottom: 0;

    }

    #main #hebergements .picture img 
    {
        height: 90%;
        object-fit: cover;
        object-position: 100% 100%;
    }

    #main #hebergements .texte1
    {
        height: 20%;
        padding-top: px;
    }
    #main #hebergements .texte1 .nom_de_lhotel
    {
        padding-bottom: 50px;
    }


    #main #hebergements .titre_hebergements_a_marseille
    {
        padding: 30px;
    }

    #main #hebergements .afficher_plus
    {
        padding: 30px;
    }

    #activites
    {
        display: flex;
        flex-direction: column;
        background-color: none;
        width: 100%;
        height: 1500px;
    }

    #activites .hotels2
    {
        width: 100%;
        height: 200px;
        display: flex;
        margin-bottom: 5px;

        flex-direction: column;
    }
    #activites .hotels3
    {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

    }

    #activites .hotels3 a 
    {
        width: 100%;
    }

    #activites .hotels2 a 
    {
        width: 100%;
    }


    #activites .hotels2 img 
    {
        object-fit: cover;
        object-position: 50% 50%;
        width: auto;
        height: 100%;
    }

    #activites .hotels3 img 
    {
        object-fit: cover;
        object-position: 50% 50%;
        width: auto;
        height: auto;
    }

    #activites .hotels2 .pciture10
    {
        width: 100%;
        height: 150px;
        border-bottom: 5px;

    }

    #activites .hotels3 .picture5
    {
        width: 100%;
        height: 200px;
        margin-bottom: 5px;

        
    }

    #activites .hotels3 .picture6
    {
        width: 100%;
        height: 200px;
    }

    #activites .hotels3 .picture8
    {
        width: 100%;
        height: 200px;
    }

    #activites .hotels3 .picture5
    {
        width: 100%;
        height: 200px;
    }

    #activites .hotels2 .picture2
    {
        width: 100%;
        height: 150px;
        margin-bottom: 10px;

    }
    
    #activites .hotels3 .picture3
    {
        width: 100%;
        height: 10px;
        object-fit: cover;
        object-position: 50% 50%;
    }

    #activites .hotels3 .picture5 .texte2
    {
        width: 100%;
        height: 35%;
    }

    #activites .hotels3 .picture7
    {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;

    }

    #activites .hotels3 .picture9
    {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;

    }
   
    #activites .hotels2 .texte2 .description
    {
        width:100%;
        height: 25%;
        font-size: 0.9em;

    }

    activites .hotels3 .texte2 .description
    {
        width:100%;
        height: 25%;
        font-size: 0.9em;
    }

    #bas
    {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-right: -50px;
        margin-left: -20px;
    }
    #bas ul 
    {   display: flex;
        flex-direction: column;
    }
    #bas ul li
    {
       font-size: 0.6em;
    }

    #bas h2 
    {
        font-size: 0.8em;
        line-height: 5px;
    }
  
    

  

    
}

