/* GENERAL */
body
{
    font-family: "Raleway", "sans serif";
}

/* NAV */
nav
{
    display: flex;
    justify-content: space-between;
    padding:20px 0 0 25px;
}

nav img
{
    height: 70px;
    width: 135px;
}
nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;    
}

nav ul a
{
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 38px 0 38px;
}

nav ul .accomodations_btn a:hover
{
    border-top: 1px solid #3D00FF;
    padding-top: 38px;
}

nav ul .activities_btn a
{
    color: black;
}

nav ul .activities_btn a:hover
{
    border-top: 1px solid black;
    padding-top: 38px;
}

nav ul .signin a
{
    font-weight: bold;
    padding-right: 50px;
}

nav ul .signin a:hover
{
    border-top: 2px solid #3D00FF;
    padding-top: 38px;
}

//* HEADER */
header
{
    padding-left: 25px;
}

header h2
{
    font-weight: normal;
    line-height: 0px;
    font-size: 1em;
}

form
{
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    
}

.bouton_rechercher
{
    background: #3D00FF;
    color: #fff;
}

.far
{
    height: 30px;
}

/* DIV FILTRE */

.filtres ul li
{
    list-style-type: none;
    display: inline-block;
}

.filtres .filter 
{
    font-weight: bold;
}

/* Hebergements */

#main
{
    
    display: flex;
    justify-content: space-between;
   
}

.hebergements
{
    width: 65%;
    height: 700px;
    background: #F2F2F2;
    border: 1px #F2F2F2c solid;
    border-radius: 20px;
    margin-left: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

/* ---------------------------------------- */

#main .hebergements .hotels
{
    width: 25%;
    height: 230px;
    background: #fff;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    border: 1px solid #F2F2F2;
    border-radius: 20px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: auto;
}


#main .hebergements .hotels:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 1s;
}

.picture
{
    width: 96%;
    height: 150px;
    overflow: hidden;
    margin:4px auto;
    padding: auto;
    border: 1px solid #fff;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
}

.texte
{
    width: 250px;
    height: 40px;
    background:#fff;
    color: black;
    
}

#main a
{
    text-decoration: none;
    display:flex ;
    flex-direction: column;
}

.nom_de_lhotel 
{
    font-weight: bold;
    text-align: center;
    padding-left: 15px;

}

.prix
{
    padding-left: 15px;
    font-size: 0.9em;
}

.price
{
    font-weight: bold;
}

.stars1
{
    padding-left: 15px;
    color: #3D00FF;
    font-size: 0.8em;

}

.stars
{
    color:#3D00FF;
    font-size: 0.8em;
}

.empty_star
{
    color: #D8D8D8;
    font-size: 0.8em;


}
/* ---------------------------------------- */

.populaires
{
    width: 30%;
    height: 700px;
    background: #F2F2F2;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    margin-right: 30px;
    padding-top: 50px;
    margin-left: 20px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: cente
    align-items: center;
}

.populaires h2
{
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top:15px;
    font-size: 1.5em;
}

.graph
{
    margin-left: 143px;
}
#main .populaires .hotels1 
{
    width: 80%;
    height: 25%;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 20px 20px;
    margin-bottom: 35px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

#main .populaires .hotels1:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 1s;
}


#main .populaires .hotels1 a
{
    display: flex;
    flex-direction: row;
}

.picture1
{
    width: 185px;
    height:165px;
    background-color: brown;
    border: 5px solid #fff;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
}

.texte1
{
    width: 230px;
    height: 165px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    
}

.populaires .texte1 .etoiles
{
    display: inline;
}

/* Activites à Marseille */

.activites_marseille
{
    margin-left: 40px;
    padding-top: 35px;


}
.activites
{
    width: 95%;
    height: 500px;
    background:#fff;
    margin-left: 20px;
    margin-bottom: 50px;

    padding-right: 35px;
    border: 1px solid #fff;

    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activites .hotels2
{
    height: 400px;
    width: 18%;
    background-color: #fff;
    margin-left: 20px;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    border-radius: 20px 20px;

}

.activites .hotels2:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 1s;
}

.activites .hotels2 .picture2
{
    height: 355px;
    width: auto;
    background-color: red;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    display: flex;
}

.activites .hotels2. .texte2
{
    height: 30px;
    width: auto;
    background-color: black;
    flex-direction: column;

}

.hotels2 .picture2 .picture3
{
    height:75px;
    width: auto;
    background-color: darkblue;
    flex-direction: column;

    
    
   
}

.hotels2 .picture2 .picture4
{
    height: 75px;
    width: auto;
    background-color: darkblue;
    flex-direction: column;

}
/*
.hotels2 .picture2 .texte3
{
    height: 25px;
    width: auto;
    background-color: #fff;
    flex-direction:column;
}

*/
/* FOOTER */

footer #bas
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    width: auto;
    background: #F2F2F2;
}

footer ul li
{
    list-style-type: none;
}

footer ul a
{
    text-decoration: none;
    color: black;
}

footer h2
{
    padding: 20px 0 0 25px;
}

footer ul
{
    padding: 0 450px 0 25px;
    line-height: 22px;
}